{% extends 'base.html' %}
{% load static %}

{% block title %}Login - Wage Way{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'users/css/login.css' %}">
{% endblock %}

{% block content %}
<canvas id="bgCanvas"></canvas>

<div class="login-container">
    <div class="login-box animated-fade">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="login-btn">Login</button>
        </form>

        <div class="extra-links">
            <a href="#">Forgot Password?</a> | <a href="#">Sign Up</a>
        </div>

        <div class="social-login">
            <p>Or login with:</p>
            <div class="social-buttons">
                <button class="social google"><i class="fab fa-google"></i></button>
                <button class="social facebook"><i class="fab fa-facebook-f"></i></button>
                <button class="social github"><i class="fab fa-github"></i></button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

